In [4]:
data = get_stations_from_networks()

In [5]:
import pandas as pd
df = pd.DataFrame(data)
#                   , columns=['Station', 'State', 'County', 'Long', 'Lat'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       91 non-null     object
dtypes: object(1)
memory usage: 856.0+ bytes

In [7]:
df.to_csv('station_locations1.csv')

In [8]:
df.head()

     0
0  ABY
1  AMG
2  ACJ
3  AHN
4  PDK

In [9]:
airport_data = pd.read_csv("airport_data.csv")

In [10]:
airport_data.head()

,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,AIRPORT_STATE_NAME,AIRPORT_STATE_CODE,AIRPORT_STATE_FIPS,...,LON_DEGREES,LON_HEMISPHERE,LON_MINUTES,LON_SECONDS,LONGITUDE,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST,Unnamed: 27
0,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",1,United States,US,Alaska,AK,2.0,...,152.0,W,54.0,24.0,-152.906667,2007-07-01,NaN,0,1,NaN
1,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",1,United States,US,Alaska,AK,2.0,...,161.0,W,4.0,18.0,-161.071667,2007-07-01,NaN,0,1,NaN
2,10004,04A,Lik Mining Camp,"Lik, AK",1,United States,US,Alaska,AK,2.0,...,163.0,W,10.0,0.0,-163.166667,2007-07-01,NaN,0,1,NaN
3,10005,05A,Little Squaw Airport,"Little Squaw, AK",1,United States,US,Alaska,AK,2.0,...,148.0,W,11.0,2.0,-148.183889,2007-08-01,NaN,0,1,NaN
4,10006,06A,Kizhuyak Bay,"Kizhuyak, AK",1,United States,US,Alaska,AK,2.0,...,152.0,W,52.0,58.0,-152.882778,2007-10-01,NaN,0,1,NaN

In [11]:
atlanta_data = airport_data[airport_data["DISPLAY_AIRPORT_NAME"]=="Atlanta Municipal"]

In [12]:
from math import radians, sin, cos, asin, sqrt
def cal_distance(lat1, lat2, lon1, lon2):
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
    # calculate the result
    return(c * r)

In [13]:
dist = {}
dist["ATL"] = 0
dist["FTY"] = int(cal_distance(-84.4418, 33.6301, -84.52, 33.78))
dist["HMP"] = int(cal_distance(-84.4418, 33.6301, -84.331, 33.3899))
dist["PDK"] = int(cal_distance(-84.4418, 33.6301, -84.302, 33.8756))
dist

{'ATL': 0, 'FTY': 14023, 'HMP': 14018, 'PDK': 14022}

In [15]:
### Chosen the 3 met stations closest to Atlanta airport - FTY, ATL, PDK

atlanta_closest_data = pd.read_csv("asus_closest.csv", names=['station','valid','lon','lat','tmpf','dwpf','relh','drct','sknt','p01i','alti','mslp','vsby','gust','skyc1','skyc2','skyc3','skyc4','skyl1','skyl2','skyl3','skyl4','wxcodes','ice_accretion_1hr','ice_accretion_3hr','ice_accretion_6hr','peak_wind_gust','peak_wind_drct','peak_wind_time','feel','metar','snowdepth']
                                   , skiprows=1, sep=',')

atlanta_closest_data.head()

C:\Users\Monish\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,station,valid,lon,lat,tmpf,dwpf,relh,drct,sknt,p01i,...,wxcodes,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,peak_wind_gust,peak_wind_drct,peak_wind_time,feel,metar,snowdepth
0,HMP,27-11-2020 00:15,-84.3310,33.3899,57.7,57.6,99.64,0.0,0.0,0,...,BR,NaN,NaN,NaN,NaN,NaN,NaN,57.7,KHMP 270015Z AUTO 00000KT 4SM BR CLR 14/14 A30...,NaN
1,HMP,27-11-2020 00:35,-84.3310,33.3899,55.8,55.6,99.28,0.0,0.0,0,...,BR,NaN,NaN,NaN,NaN,NaN,NaN,55.8,KHMP 270035Z AUTO 00000KT 2SM BR CLR 13/13 A30...,NaN
2,ATL,27-11-2020 00:52,-84.4418,33.6301,62.1,48.9,61.91,270.0,3.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.1,KATL 270052Z 27003KT 10SM FEW042 17/09 A3009 R...,NaN
3,PDK,27-11-2020 00:53,-84.3020,33.8756,55.0,52.0,89.59,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,KPDK 270053Z 00000KT 10SM CLR 13/11 A3008 RMK ...,NaN
4,FTY,27-11-2020 00:53,-84.5200,33.7800,55.9,51.1,83.88,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.9,KFTY 270053Z 00000KT 10SM CLR 13/11 A3008 RMK ...,NaN

In [74]:
import numpy as np

atlanta_closest_data.head()
calc_indices = [5, 6, 7, 8, 9, 10, 11, 11, 12, 13, 18, 19, 20, 21, 23, 24, 25, 26, 27]

new_df = pd.DataFrame()

i = 0

while(i<len(atlanta_closest_data)//2):
    line = atlanta_closest_data.loc[i, :]
    aggr_line = np.empty((0, len(line)))
    aggr_line = np.array([line])
    
    #Extracting the hour
    hour = line["valid"].split(" ")[1].split(":")[0]
    
    k = i+1
    while(k < len(atlanta_closest_data)//2 and atlanta_closest_data.loc[k,:]["valid"].split(" ")[1].split(":")[0] == hour):
        temp = np.array([atlanta_closest_data.loc[k]])
        aggr_line = np.append(aggr_line, temp, axis = 0)
        k += 1
        
    i = k
    for j in range(len(calc_indices)):
        
        tot = 0
        div = 0
        for m in range(len(aggr_line)):
            if((type(aggr_line[m][calc_indices[j]]) == type('') and not aggr_line[m][calc_indices[j]]) or (type(aggr_line[m][calc_indices[j]]) != type('') and not np.isnan(aggr_line[m][calc_indices[j]]))):
                tot += (dist[aggr_line[m][0]] * float(aggr_line[m][calc_indices[j]]))
                div += dist[aggr_line[m][0]]
        
        if(div != 0):
            line[calc_indices[j]] = tot/div
        else:
            line[calc_indices[j]] = np.nan
            
    new_df = new_df.append(line)
    
i += 1
        
    
new_df.head()

C:\Users\Monish\anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Monish\anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,alti,drct,dwpf,feel,gust,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,lat,lon,...,skyl1,skyl2,skyl3,skyl4,snowdepth,station,tmpf,valid,vsby,wxcodes
0,30.099997,0.0,54.479617,57.7,NaN,NaN,NaN,NaN,33.3899,-84.331,...,500.00000,NaN,NaN,NaN,NaN,HMP,57.7,27-11-2020 00:15,5.300603,BR
6,30.115998,0.0,53.059670,55.4,NaN,NaN,NaN,NaN,33.3899,-84.331,...,500.00000,NaN,NaN,NaN,NaN,HMP,55.4,27-11-2020 01:15,4.550471,BR
12,30.118331,0.0,51.133041,53.2,NaN,NaN,NaN,NaN,33.3899,-84.331,...,500.00000,NaN,NaN,NaN,NaN,HMP,53.2,27-11-2020 02:15,2.958530,FG
19,30.111109,0.0,49.833252,51.1,NaN,NaN,NaN,NaN,33.8756,-84.302,...,200.00000,NaN,NaN,NaN,NaN,PDK,51.1,27-11-2020 03:01,2.416838,BR
29,30.107498,0.0,47.768617,48.9,NaN,NaN,NaN,NaN,33.8756,-84.302,...,210.00107,NaN,NaN,NaN,NaN,PDK,48.9,27-11-2020 04:01,1.453117,BR

In [76]:
new_df.to_csv('final.csv')